@charset "utf-8";

body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	color:#04F488
}
h1{
	text-align: center;
	font-family: 方正姚体,黑体,宋体;
	font-size: 24px;
	font-weight: bold;
	color:#FF0000;
}
h2{
	font-family: 黑体;
	font-size: 16px;
	font-weight: normal;
	color:#099;
}
p{
	line-height: 2em;
}
.nav{
	background-color: #9f0;
	margin-left:15%;
	margin-right:15%;
	text-align: center;
	font-size: 18px;
}
.copyright{
	text-align:center;
	margin-bottom: 10px;
}
#triangle{
	width:0;
	height:0;
	border:10px solid transparent;
	border-top-color:#CCCCCC;
	border-bottom:0;
}
#container{
	width: 80%;
	min-height:700px;
	margin: 0 auto;
	padding: 5px 20px;
	background-color: #6D4F80;
}